---
layout: page
title: COMO PROGRAMAR ANDROID, JAVA, C#, C++, PHP, PYTHON, HTML5
---

{% for post in paginator.posts %}


    <article class="post">
        <div class="thumb">
            <a href="{{ post.url }}"><img src="{% if page.url-cover %}{{ page.url-cover }}{% else %}{% asset_path default-thumbnail.jpg %}{% endif %}" alt="img"></a>
        </div>
        <div class="content">
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>

            <div class="activity">
                <span class="user-cp">{% if post.author %}{{ post.author }}{% else %}{{ site.author }}{% endif %}</span>
                <span class="date"><a href="#">{{ post.date | date: "%Y/%m/%d" }}</a></span>

            </div>
        </div>
    </article>



{% endfor %}


{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}


    <div class="button-item">
                            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="gn-button">&larr; Anterior </a>
    </div>



    {% endif %}
    {% if paginator.next_page %}


    <div class="button-item">
                            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="gn-button" >Siguiente &rarr; </a>
    </div>


    {% endif %}
</ul>
{% endif %}
