    <header id="header" class="header">
      <div class="top-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
                    <div id="logo" class="logo">
              <a href="{{ site.baseurl }}" rel="home" title="home">
                <img src="{% asset_path logo.png %}" alt="Como Programar" />
              </a>
                  </div>
                  <div class="follow-us">
                    <div class="follow-title">
                      SÍGUEME 
                    </div>
                    <ul class="social-links">
                      <li class="facebook"><a href="#">Seguir en Facebook</a></li>
                      <li class="twitter"><a href="#">Seguir en Twitter</a></li>
                      <li class="google"><a href="#">Seguir en Google</a></li>
                      <li class="linkedin"><a href="#">Seguir en Linkedin</a></li>
                      <li class="pinterest"><a href="#">Seguir en Pinterest</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="btn-menu"></div>
                  <div class="member-area">
                    <span class="login-popup"><a href="#login-modal">Login</a></span>
                    <span class="signup-popup"><a href="#signup-modal">Become a member</a></span>
                  </div>
                </div>
              </div>
           </div>
      </div>
    <div class="header-wrap">
     <div class="container">
        <div class="row">
        <div class="col-md-9">
          <nav id="mainnav" class="mainnav">
            <ul class="menu">
              <li class="has-children"><a class="active" href="index.html">Home</a>
                <ul class="sub-menu">
                  <li><a href="index-banner.html">Home with Banner</a></li>
                  <li><a href="index-custom.html">Home Customize</a></li>
                  <li class="has-children"><a href="#">Third Level Item</a>
                    <ul class="sub-menu">
                      <li><a href="#">Sublevel 1</a></li>
                      <li><a href="#">Sublevel 2</a></li>
                      <li><a href="#">Sublevel 3</a></li>
                      <li><a href="#">Sublevel 4</a></li>
                      <li><a href="#">Sublevel 5</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="has-children"><a href="#">Pages</a>
                <ul class="sub-menu">
                  <li><a href="article-endless.html">Articles</a></li>
                  <li><a href="article-detail.html">Articles Detail</a></li>
                  <li><a href="category-hide-navigation.html">Category Page</a></li>
                  <li><a href="contact.html">Contact Page</a></li>
                  <li><a href="about.html">About Page</a></li>
                  <li><a href="login.html">Login Page</a></li>
                  <li><a href="404.html">404 Page</a></li>
                </ul>
              </li>

              <li class="has-children"><a href="category.html">Category</a>
                <ul class="sub-menu">
                  <li><a href="category.html">Normal</a></li>
                  <li><a href="category-hide-navigation.html">Hide Navigation</a></li>
                </ul>
              </li>
              <li><a href="ui-elements.html">UI-Elements</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-md-3">
          <div class="search-wrap">
            <div class="search-icon"></div>
            <form action="#" id="searchform" class="search-form" method="get" role="search">
              <input type="text" id="s" placeholder="Buscar ..." class="search-field">
              <input type="submit" value="&#xf002;" id="searchsubmit" class="search-submit">
              <a class="search-close" href="#"><i class="fa fa-times-circle"></i></a>
            </form>
          </div>
        </div>
        </div>
     </div>
    </div>
  </header>



