    <header id="header" class="header">
      <div class="top-wrap">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
                    <div id="logo" class="logo">
              <a href="{{ site.baseurl }}" rel="home" title="home">
                <img src="{% asset_path logo.png %}" alt="Como Programar" />
              </a>
                  </div>
                  <div class="follow-us">
                    <div class="follow-title">
                      SÍGUEME 
                    </div>
                    <ul class="social-links">
                      <li class="facebook"><a href="https://www.facebook.com/cprogramar">Seguir en Facebook</a></li>
                      <li class="twitter"><a href="https://twitter.com/kedinn2">Seguir en Twitter</a></li>
                      <li class="google"><a href="https://plus.google.com/u/0/118382347982297458050">Seguir en Google</a></li>
                      <li class="linkedin"><a href="https://pe.linkedin.com/pub/kedinn-turpo/3b/30a/163">Seguir en Linkedin</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="btn-menu"></div>
                  <div class="member-area">
                    <span class="signup-popup"><a href="https://github.com/kedinn2/comoprogramar"> ¿ Cómo Aportar ?</a></span>
                  </div>
                </div>
              </div>
           </div>
      </div>
    <div class="header-wrap">
     <div class="container">
        <div class="row">
        <div class="col-md-9">
          <nav id="mainnav" class="mainnav">
            <ul class="menu">
              <li ><a href="/actualidad">Actualidad</a></li>
              </li>
              <li class="has-children"><a href="/codigos">Códigos</a>
                <ul class="sub-menu">
                  <li><a href="/">Nodejs</a></li>
                  <li><a href="/">Python</a></li>
                  <li><a href="/">Java</a></li>
                  <li><a href="/">Ver más</a></li>

                </ul>
              </li>

              <li ><a href="/cursos">Cursos</a>
              </li>
              <li><a href="/manuales">Manuales</a></li>
            </ul>
          </nav>
        </div>
        <div class="col-md-3">
          <div class="search-wrap">
            <div class="search-icon"></div>
            <form action="#" id="searchform" class="search-form" method="get" role="search">
              <input type="text" id="s" placeholder="Buscar ..." class="search-field">
              <input type="submit" value="&#xf002;" id="searchsubmit" class="search-submit">
              <a class="search-close" href="#"><i class="fa fa-times-circle"></i></a>
            </form>
          </div>
        </div>
        </div>
     </div>
    </div>
  </header>



