
					<div class="sidebar-widget-1">

						<div class="widget widget-ads">
                                    <center>
                                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    
                                        <ins class="adsbygoogle"
                                             style="display:inline-block;width:300px;height:250px"
                                             data-ad-client="ca-pub-8586657879451835"
                                             data-ad-slot="3347319050"></ins>
                                        <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                                    </center>
						</div>

						<div class="widget widget-tabs2">
							<div class="tabs style2">
								<ul class="menu-tab">
									<li class="active"><a href="#">RECIENTES</a></li>
								   	<li><a href="#">DESTACADOS</a></li>
								</ul>
								<div class="content-tab">
								   	<div class="content" style="display: block;">
										<ul class="most-popular">
										{% for post in site.related_posts limit:8 %}
					
											<li>
												<div class="order">•</div> 
												<p><a href="{{ post.url }}">{{ post.title }}</a></p>
											</li>
							
										{% endfor %}
											



										</ul>
								   	</div>
								   	<div class="content" style="display: none;">
										<ul class="most-popular">
											<li>
												<div class="order">1</div>
												<p><a href="">The World’s Youngest Billionaire is Just 24 and She’s From Hong Kong</a></p>
											</li>
											<li>
												<div class="order">2</div>
												<p><a href="">The World’s Youngest Billionaire is Just 24 and She’s From Hong Kong</a></p>
											</li>
										</ul>
								   	</div>
								</div>
							</div>
						</div>





									<div class="widget widget-tabs2">										
                                    </center >
						
						<div class="etiqueta">
						{% for tags in site.data.tags %}
						<a href="/etiqueta/{{ tags.slug }}">{{ tags.name }}</a></h1>
						</a>
						
						{% endfor %}
						</div>
						</div>



						<div class="widget widget-ads">
                                    <center>

{% if post.tags.size > 0 %}
    {% capture tags_content %}Posted with {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
    {% for post_tag in post.tags %}
        {% for data_tag in site.data.tags %}
            {% if data_tag.slug == post_tag %}
                {% assign tag = data_tag %}
            {% endif %}
        {% endfor %}
        {% if tag %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="/blog/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}

										
                                    </center>
						</div>











						<div class="widget widget-follow-us">
							<center>
							<div class="socials">
								<a class="facebook" href="https://www.facebook.com/kedinn"><i class="icon-Facebook"></i></a>
								<a class="twitter" href="https://twitter.com/kedinn2"><i class="icon-Twitter"></i></a>
								<a class="google" href="https://plus.google.com/u/0/118382347982297458050"><i class="icon-Googleplus"></i></a>
								<a class="youtube" href="https://www.youtube.com/kedinn"><i class="icon-Youtube"></i></a>
								<a class="linkedin" href="https://pe.linkedin.com/pub/kedinn-turpo/3b/30a/163"><i class="icon-Linkedin"></i></a>
								<a class="github" href="https://github.com/kedinn2"><i class="icon-Github"></i></a>
							</div>
							</center>
						</div>



					</div>
