---
layout: default
---

                
                <div class="post-wrap posts posts-list">
                        <article class="post">
                            <div class="head-post">
                                <h2>{{ page.title }}</h2>

                                {% if page.subtitle %}
                                <h2 class="subheading">{{ page.subtitle }}</h2>
                                {% endif %}




                                <div class="meta">
                                    <span class="author">Por <a href="#">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %} </a></span>
                                    <span class="time"> {{ page.date | date: "%B %-d, %Y" }} </span>
                                </div>
                            </div>
                            <div class="body-post">
                                <div class="main-post">
                                    <div class="entry-post">
                                    <img class="cente" src="{{ page.url-cover }}"></img>


                                    <center>
                                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    <!-- MOB PEQ -->
                                    <ins class="adsbygoogle"
                                         style="display:inline-block;width:320px;height:100px"
                                         data-ad-client="ca-pub-8586657879451835"
                                         data-ad-slot="4824052253"></ins>
                                    <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                                    </center>


                                        {{ content }}
                                    <center>
                                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                        <!-- NEEW REC -->
                                        <ins class="adsbygoogle"
                                             style="display:inline-block;width:300px;height:250px"
                                             data-ad-client="ca-pub-8586657879451835"
                                             data-ad-slot="3347319050"></ins>
                                        <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                        </script>
                                    </center>
                                    </div>


                                    <ul class="pager">


                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Anterior</a>
                    </li>
                    {% endif %}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                    {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Siguiente &rarr;</a>
                    </li>
                    {% endif %}
                    </div>
                </div>

                                    </ul>




                                    <div class="load-comment">
                                        






<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'kedinn';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>



   
                                    </div>





                                </div><!-- /.main-post -->
                            </div><!-- /.body-post -->
                        </article><!-- /.post -->

                    </div>

